@media screen and (max-width:1000px){
    .container{
        max-width: 1000px;
    }
    header{
        max-width: 400px;
        justify-content: flex-start;
    }
    .media-top{
        display: block;
    }
    .nav-menu,
    .content-body-top,
    .content-body-right,
    .top-hover-img,
    .content-hr,
    .top-row,
    .home-container,
    .story-container,
    .grid-container,
    .section-5,
    .section-6,
    .section-7,
    .top-left{
        display: none;
    }
    .top-section{
        display: none;
    }
    .nav-left img{
        width: 119px;
    }
    .nav-right{
        width: 220px;
        gap: 5px;
    }
    .nav-right div{
        width: 80px;
        height: 46px;
    }
    .content-body-card{
        max-width: 1000px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .body-card{
        max-width: 464px;
        max-height: 260px;
        display: flex;
        flex-direction: column;
    }
    .footer-container{
        max-width: 1000px;
    }
    .body-card-text .none{
        display: none;
    }
    h5{
        font-size: 15px;
    }
}